.header {
    background: #e6e6e6;
    color: #171717;
    padding-top: 15px;
    padding-bottom: 20px;
    z-index: 1;
}
  
.headerContent {
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.headerContent h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
}

.headerContent h2 {
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
}

.headerList {
    display: flex;
    align-items: center;
}

.headerList li {
    padding: 10px;
    color: #171717;
    font-weight: lighter;
}

.headerList a{
    position:relative;
}
  
.headerList a:before{
    content:'';
    position: absolute;
    height: 1px;
    background:#171717;
    top:95%;
    animation:out 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.headerList a:hover:before{
    animation:in 0.4s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in{
    0%{ width: 0; }
    100%{ width: calc(100% + 5px); }
}
  
@keyframes out{
    0%{ width: calc(100% + 5px); }
    100%{ width: 0; }
}

@media screen and (max-width: 600px) {
    .headerContent h1 {
        font-size: 1.2rem;
    }
    
    .headerContent h2 {
        font-size: .6rem;
    }

    .headerList li {
        padding: 5px;
        font-size: .8rem;
    }
}