.galeryContainer {
    justify-content: center;
    position: relative;
    background: #e4e2df;
  }
  
  /* .mainImage {
    margin: 0 3px;
  } */
  
  .sectionTitle {
    padding: 20px 0;
  }
  
  .sectionTitle h2 {
    margin: 0;
    font-size: .9rem;
    text-align: center;
    font-weight: 600;
    color: #565656;
  }
  
  .sectionTitle p {
    margin: 0;
    text-align: center;
    color: #565656;
  }
  
  .illustrationGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  
  .sketchGrid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }