.galeryImageContainer {
    position: relative;
    cursor: pointer;
}

.imageContent {
    position: absolute;
    z-index: 2;
    padding: 5px 10px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    color: #FFF;;
    font-size: 1.5rem;
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.733453488817402) 20%, rgba(0,0,0,0) 100%);
    transition: .5s ease;
    opacity: 0;
}

.imageContent:hover {
    opacity: 1;
}

/* .imageContent p {
    margin: 0;
} */

.textContent {
    position: absolute;
    bottom: 0;
}
