header {
  background: #22242d;
  margin-bottom: 2rem;
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
}

ul {
  display: flex;
  float: right;
  list-style: none;
}

a {
  color: #fff;
}

li {
  margin: 15px 10px 0 10px;
  cursor: pointer;
  transition: color 0.5s;
}

li:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}

li::selection {
  color: red;
}
