.contactSection {
    background: #e2e2e2;
}

.contactContent {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    padding: 80px 10px;
}

.contactInfo {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 500px;
    /* align-items: center; */
    /* margin: auto; */
}

.contactInfo h3 {
    margin: 0;
    margin-bottom: 15px;
}

.contactInfo p {
    margin: 5px 0;
}

.socialIcons {
    margin-top: 15px;
}

.socialIcon {
    margin: 5px;
    background: #ea842d;
    padding: 10px;
    border-radius: 50%;
}

.contactForm {
    max-width: 500px;
}

.formControl {
    display: flex;
}

.contactForm input,
.contactForm textarea {
    padding: 10px 15px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 3px;
    outline: 0;
    border: 1px solid #949494; 
}

.contactForm textarea {
    resize: vertical;
}

.formButton {
    display: inherit;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: auto;
    justify-content: flex-end;
    background: #ea842d;
    color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.formButton:hover {
    background: #c06f2a;
}