.post-list-wrapper {
  background: #272629;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.post-list-wrapper:hover {
  transform: translateY(-5px);
}

.post-list-title {
  color: #fff;
  text-decoration: none;
}
