.galeryContainer {
  /* padding: 2rem 0; */
  display: flex;
  justify-content: center;
  background: #e4e2df;
}

/* .mainImage {
  margin: 0 3px;
} */

.sketchGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}